<html>
	<head>
		<title>2015 Eid Gala</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/main.css" />
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Font+Name">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo">Eid Gala</a></h1>
					<nav id="nav">
						<ul>
						<li id="logo"><a href="#info">Info</a></li>
						<li id="logo"><a href="#purchase">Purchase</a></li>
						<li><audio id="myAudio"
						     <source src="audio/lucidtruth.mp3" autoplay="true">

							 Your user agent does not support the HTML5 Audio element.
							</audio>
							<button type="button" class= "button special" onclick="aud_play_pause()">Play/Pause music</button>
							 <script>
							function aud_play_pause() {
							  var myAudio = document.getElementById("myAudio");
							  if (myAudio.paused) {
							    myAudio.play();
							  } else {
							    myAudio.pause();
							  }
							}
							</script>
							</li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<!-- <header>
							<h2>The future has landed</h2>
							<p>And there are no hoverboards or flying cars.<br />
							Just apps. Lots of mother flipping apps.</p>
						</header> -->
						<span class="image"><img src="assets/pic01.png" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

				<section id="one" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="assets/pic02.jpg" alt="" /></span>
					<div class="content">
						<p><div class="h1title">
							On</div> this odd night, let your emotions take flight…<br>
							Let your senses be alight, restraint was yesterday,<br>
							Gone are the days of might.<br>
							This annual tradition, let’s call it a rite,<br>
							Has come again, a jubilant night,<br>
							For us to take a bite, be a sight.<br>
							In near a fortnight, your well-deserved respite<br>
							Will be at Faz Restaurant from 7:30 pm to midnight.<br>
							Be polite, give your procrastination a fight,<br>
							Express your interest early, what’s the point of pretending…<br>
							Wouldn’t it be a delight?<br>
							Come revel and be light, of foot, of heart, of diet,<br>
							We’ll take your picture, then take your chair,<br>
							It’ll be anything but quiet.<br>
							So come prepared, adorned in your black<br>
							And oh-so regal in your white,<br>
							Just don’t forget to bring 3 Hamiltons and a Lincoln,<br>
							Alright, Alright, Alright!
							</p>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>


			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="assets/pic03.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>F.A.Q.</h2>
							<h3>Attire</h3>
							<p>Black and white formal attire to add to the ambiance of the celebration is encouraged.</p>
							<h3>Cuisine:</h3>
							<p>There will be a fixed menu with 100% halal options.</p>
							<h3>Parking:</h3>
							<p>Faz is located inside Sheraton hotel, so there will be ample parking available.</p>
							<h4>How can I RSVP?</h4>
							<p>Scroll down to the bottom of the page and click the facebook icon to RSVP.</p>
						</header>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>


			<!-- Four -->
				<section id="info" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Find out all the deets here</h2>
							<p>If you have any questions hit up Eibad/Aneeqa</p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-calendar"></span>
									<h3>When?</h3>
									<p>Friday, July 31st 2015 at 7:30 pm.</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-map-marker"></span>
									<h3>Where?</h3>
									<p>Faz restaurant:</p>
									1108 N Mathilda Ave, Sunnyvale, CA 94089
								</section>
								<section class="4u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-dollar"></span>
									<h3>Cost</h3>
									<p>$35 per ticket.</br> Tickets can be purchased using the paypal link below</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-legal"></span>
									<h3>Dress code</h3>
									<p>Black and white</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-instagram"></span>
									<h3>Hashtag</h3>
									<p>#EidGala2015</p>
								</section>
								<section class="4u$ 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-question"></span>
									<h3>Still have questions?</h3>
									<p>Contact Eibad or Aneeqa.</p>
								</section>
							</div>
						</div>

					</div>
				</section>

			<!-- Five -->
				<section id="purchase" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Buy your tickets here</h2>
						</header>
								<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<table>
<tr><td><input type="hidden" name="on0" value="Quantity">Select quantity:<td><select name="os0">
	<option value="1 Ticket">1 Ticket $35.00</option>
	<option value="2 Tickets">2 Tickets $70.00</option>
	<option value="3 Tickets">3 Tickets $105.00</option>
	<option value="4 Tickets">4 Tickets $140.00</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIIKQYJKoZIhvcNAQcEoIIIGjCCCBYCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYC8ZeHjy3IT2+EslF88L1mJbUpWYDx5+27tO+G6XPEmd5IDQTADksPXq0zZePrKbZjPiXk1m7jucOwMN/HsUawl/97I+fO61X5RLt6tN7kk1VoHIJfQrjEkrulMYNC62kPmKucx8He5PAnB5CKaLR5DfmLG1JjK4/HwqZ/ArAH6uDELMAkGBSsOAwIaBQAwggGlBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECHp42Hq6PA92gIIBgPjPDgXz6orpiwdVxV9NkZyQMsnsNlnI2GupA2rezLsCKsqYbzQIYIEDdfSIvJpOrNi6dXP9sPChtZ1S5/U33jgsUsAzvhnfRsH4+wlHYMZpqgHgz8IqyIuX/NHzouVlNAYMAE69Nhh8Rog6iKCL8H0tEAV92CuwFEIpFi/WNqMKgfAqHn6nDjNP3WueACBb0itftU0TjaVzWR5kuHpM7tTRW/nGS05/bw7F5JmvzSi+lpsCLgTc45u3WMv0vp0gLL6KuwWCc5UJAf18qH8C2rGtFZX6zqfRy3gi4Qgpo2g/aaFel1PRT4lR1yeejrD7lcCRMSh3vBjka5VzaIS+OF2BGTxP9IBBVP+qUsWWJD0AY5HowdBgMJWHvhmm/lthpQilUQJ71WdPn0V8E2tQSLVmHSOcEhLYkNAB7P4L/ku6qods0w065e/eYf2rVnMeqCK3v5IftLhktnAqJEt3BxYTxA90RxcHfTKy1JzD17XA+QhalOJtg2FnvCqFHcbhnKCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE1MDcwNzE4MzgyMFowIwYJKoZIhvcNAQkEMRYEFKgpEbE+YJrAgB7SPu0YETf34nJ+MA0GCSqGSIb3DQEBAQUABIGAuAY+n6RWxLYWsLQSQWEuC7igHdkyYEut/B8IVjWDSnrY5pnLgCLeYTkfRo4Bf/9KakpUdViX4FFAF1WLW3I20nc8nkUBQhtK2Y4bROTyfL9BfS0wiyJ5GuZNx9H7/4oVfsq6c0CDh+qfotKCtB8GfcB6XBl2+4/LQjWvMbXPbzk=-----END PKCS7-----
">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<!-- <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li> -->
						<li><a href="https://www.facebook.com/events/1466634456980256/permalink/1466637596979942/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<!-- <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li> -->
						<li><a href="https://instagram.com/explore/tags/EidGala2015/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<!-- <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li> -->
						<!-- <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li> -->
					</ul>
					<ul class="copyright">
						<li>&copy;Ramin Sedighi</li>   2015</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/jquery.min.js"></script>
			<script src="assets/jquery.scrolly.min.js"></script>
			<script src="assets/jquery.dropotron.min.js"></script>
			<script src="assets/jquery.scrollex.min.js"></script>
			<script src="assets/skel.min.js"></script>
			<script src="assets/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/main.js"></script>


	</body>
</html>
